#container{
    display: grid;
    grid-template-rows: 1fr 18fr 4fr;
    height: 80vh;
    width: 80%;
    justify-self: center;
    margin-top: 10vh
}
#top-bar,#game-screen,.bottom-items{
    font-family: cursive;
    color: white;
}

#top-bar{
    background-color: rgb(7, 165, 7);
    display: grid;
    align-content: center;
    justify-content: center;
}
#game-screen{
    background-color: green;
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
}
#bottom-bar{
    background-color: grey;
    display: grid;
    grid-template-columns: 5fr 8fr 5fr;
}
.bottom-items{
    background-color: rgb(7, 165, 7);
    display: grid;
    align-content: center;
    justify-content: center;
}
#start{
    background-color: blue;
}

.froggies{
    display: grid;
    font-weight: bold;
    position: absolute;
}
